body,* {
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

nav img{
    width: 28%;
}
nav {
    position: fixed;
    top: 0;
    z-index: 10;
}
/* nav{
    border: 1px solid black;
    width: 100%;
    height: 8vh;
    align-items: center;
    border: none;
    justify-content: space-between;
    background-color: burlywood;
    top: 0;
    position: sticky;
   
} */
/* nav ul{
    margin: 10px 0px;
} */
/* nav ul li{
    display: inline;
    list-style: none;
    
} */
/* nav li{
    list-style: none; 
} */
nav li .an{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: 0.3s ease-in-out;
}
nav ul li .an:hover{
    color: dodgerblue;
    background-color: orangered;
    border-radius: 10px;
    padding: 3px;
}
.redd{
    width: 15%;
    height: 10vh;
}

.vna {
    margin: auto;
}

section {
    /* border: 1px solid black; */
    width: 100vw;
    height: 70vh;
    margin-top: 100px;
}
section .banner {
    background: url(images/herosectionimg.jpg);
    background-size: cover;
}
.small {
    background-color: black;
    width: 100vw;
}
.small img {
    height: 50vh;
    width: 100%;
    opacity: 0.2;
}
.form {
    display: none;
}
.cancel {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    cursor: pointer;
}
.txtIndiv {
    position: absolute;
    top: 30vh;
    left: 50px;
    color: gold;
    width: 250px;
}
.calltoaction {
    position: absolute;
    top: 300px;
    left: 80px;
    padding: 15px;
    border-radius: 25px;
    background: orange;
    color: white;
    font-size: 15px;
}
.top {
    background: none;
    border: none;
    position: fixed;
    top: 550px;
    right: 0;
    z-index: 10;
}
.top img {
    width: 50px;
    transform: rotate(315deg);
}
main {
    height: 70vh;
    width: 100vw;
    overflow-x: hidden;
    margin-top: -132px;
    background-color: black;
    position: relative;
}
main img {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
}
.mainsection {
    display: none;
}

#fill {
    color: gold;
    font-family: 'Acme', sans-serif;
    font-weight: bolder;
}
#cta {
    display: none;
}

@media (min-width:768px) {
    .txtIndiv h1 {
        font-size: 70px;
        color: gold;
        width: 450px;
        font-family: 'Lobster Two', sans-serif;
        font-weight: bolder;
    }
    .txtIndiv {
        margin-left: 100px;
        margin-top: 0px;
        animation: 1.5s pulse ease-in-out infinite;
    }
    @keyframes pulse {
        0% {
            opacity: 1;
            transform: translateY(20px);
        }
        25% {
            transform: translateY(0);
            transform: translateX(5px);
        }
        50% {
            transform: translateY(-20px);
        }
        75% {
            transform: translateY(0px);
            transform: translateX(-5px);
        }
        100% {
            transform: translateY(20px);
        }
    }
    .banner {
        /* border: 1px solid black; */
        width: 100vw;
        height: 85vh;
        margin-left: 600px;
        border-radius: 100px;
        margin-top: 50px;
        animation: 0.5s bounce ease-in-out;
    }
    @keyframes bounce {
        0% {
            opacity: 0;
            transform: translateX(-1000px);
        }
        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .calltoaction {
        padding: 20px;
        position: absolute;
        top: 550px;
        left: 250px;
        border-radius: 25px;
        background: orange;
        color: white;
        font-size: 15px;
        font-weight: bolder;
        animation: 1s action ease-in-out infinite;
        transition: 1s;
    }
    @keyframes action {
        0% {
            opacity: 1;
            transform: translateY(5px);
        }
        50% {
            opacity: 1;
            transform: translateY(-5px);
        }
        100% {
            opacity: 1;
            transform: translateY(5px);
        }
    }
    .calltoaction:hover {
        animation-play-state: paused;
        color: green;
    }
    main {
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        margin-top: 120px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    main img {
        opacity: 1;
        width: 40vw;
        height: 90vh;
    }
    .mainsection {
        display: flex;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid black; */
        /* display: block; */
        height: 80vh;
        background: black;
    }
    #txt {
        font-size: 30px;
        font-family: 'Just Another Hand', cursive;
        color: orange;
        animation: 1s word ease-in-out infinite;
        display: inline;
    }
    @keyframes word {
        0% {
            opacity: 1;
            transform: translateY(3px);
        }
        50% {
            opacity: 1;
            transform: translateY(-3px);
        }
        100% {
            opacity: 1;
            transform: translateY(3px);
        }
    }
    .form {
        /* border: 1px solid black; */
        position: absolute;
        top: 90px;
        right: 80px;
        width: 50vw;
        height: 82vh;
        background-color: gold;
        opacity: 0.9;
        display: none;
        border-radius: 20px;
    }
    .form h1{
        text-align: center;
        margin-top: 20px;
        color: orangered;
        font-family: 'Just Another Hand', cursive;
    }
    .form textarea {
        margin-top: 30px;
        margin-left: 3px;
        padding-left: 20px;
        padding-top: 10px;
        color: orangered;
        background: white;
    }
    .form .submit {
        margin-left: 300px;
        margin-top: 50px;
        padding: 20px;
        background-color: orange;
        color: white;
        font-weight: bolder;
        border-radius: 10px;
        transition: 0.5s;
    }
    .submit:hover {
        color: green;
    }
    #cta {
        display: inline;
    }
}

